<!--FOOTER-->
<div class="footer">
  <a href="https://www.neom.com/en-us" target="_blank" style="text-decoration: none"><h3 class="footer-title">NEOM.COM</h3></a>
  <div class="footer-logos">
    <div class="footer-row">
      <a href="https://www.youtube.com/channel/UCl0eCJPupCsTrobb_0bprhw" target="_blank"><img class="social-item" src="/images/youtube-ico.png" alt="Youtube" /></a>
      <a href="https://x.com/NEOM" target="_blank"><img class="social-item" src="/images/x-ico.png" alt="X" /></a>
      <a href="https://www.instagram.com/discoverneom" target="_blank"><img class="social-item" src="/images/instagram-ico.png" alt="Instagram" /></a>
      <a href="https://www.facebook.com/NEOM/" target="_blank"><img class="social-item" src="/images/facebook-ico.png" alt="Facebook" /></a>
    </div>
    <div class="footer-row">
      <a href="https://www.linkedin.com/company/discoverneom" target="_blank"><img class="social-item" src="/images/linkdln-ico.png" alt="Linkdln" /></a>
      <a href="https://www.snapchat.com/add/neomsnaps" target="_blank"><img class="social-item" src="/images/snapchat-ico.png" alt="SnapChat" /></a>
      <a href="https://www.tiktok.com/@neom" target="_blank"><img class="social-item" src="/images/tiktok-ico.png" alt="TikTok" /></a>
    </div>
  </div>
</div>
<!-- END FOOTER -->
